body {
    background-color: #f2f2f2;
    color: black;
	font-size: 14px;
    font-family: "Roboto";
    line-height: normal;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0;
}
/*
Default index page
*/
#wrapper { 
	background: #FFF; 
	margin: 5em auto; 
	max-width: 800px; 
	width: 95%; 
}
#container { 
    padding: 2em; 
}
#welcome h1 span { 
	display: block; 
	font-size: 35px; 
}
/*
Default index page
*/	
textarea{
	vertical-align: top;
}	
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    *zoom: 1;
}
.container:after {
    content: " ";
    clear: both;
    display: block;
    overflow: hidden;
    height: 0;
}
.container {
    width: 100%;
}
#header{
	background: #3f4146;
}
.logo{
	width: 180px;
}
textarea {
  height: 200px;
}
table{
    border: 0 solid #a5b2cb;
    border-radius: 0;
    color: #fff;
    width: 100%;
}
table#index{
    border: 0 solid #a5b2cb;
    border-radius: 0;
    color: #fff;
	margin-bottom: 100px;
    width: 100%;
}
thead{
    background-color: #c2d0ec;
}
td, th, tr{
    border: 1px solid #a5b2cb;
	padding: 15px;
}
#index td, #index th, #index tr{
    border:0;
    padding: 10px 5px 10px 5px;
}
.description{
	font-size: 22px;
    white-space: pre-wrap;
    white-space: pre-line;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -hp-pre-wrap;
    word-break: break-all;
    table-layout: fixed;
}

.comments{
	border-bottom: 6px solid #323232;
	width: 15%;
}
td#buttons{
    border-bottom: 6px solid #323232;	
	padding: 0;
	height: 60px;
}
#index th{
	text-shadow: rgba(0,0,0,0.8) 1px 1px 1px;
}
td#actions{
	background: #ece9f2;
    padding: 0px;
    height: 100%;
}
#buttons{
	background:rgba(255,255,255,0.5);
}
.due #buttons{
	background:rgba(255,255,255,0.8);
}
ul{
    list-style: none;
    list-style-position: outside;
    -webkit-padding-start: 0px;
}
td ul li a{
    text-decoration: none;
}
h1{
    width: 100%;
    text-align: center;
    color:#515151;
    font-size:45px;
    padding: 30px;
}
nav{
	background:#dde5ee;
    margin-top:0;
    padding-top:5px;
	height: 40px;
}
nav a{
    background-color: #aeb9db;
    border-bottom: 2px solid #8195d3;
    border-radius: 0;
    color: #e5e5e5;
    padding: 10px 10px 10px 10px;
    text-align: center;
}
nav a:active, nav a:hover{
    background-color: #9caee7;
    border-bottom: 2px solid #8195d3;
    border-radius: 0;
    color: #fff;
    padding: 10px 10px 10px 10px;
    text-align: center;
    text-decoration: none;
}
.notSeen{
    background-color:#00d4f4;
    color: #000;
}
.notSeen.urgent{
	background-color:#f13e3e;
    color: #000;
  transition: background-color 1s linear;
  -webkit-transition: background-color 1s linear;
  -o-transition: background-color 1s linear;
  -moz-transition: background-color 1s linear;
  -ms-transition: background-color 1s linear;
  animation: notSeen 1s infinite;
}
@keyframes notSeen {
  0% {
    background-color: #f13e3e;
  }
    30% {
    background-color: #f13e3e;
  }
  60% {
    background-color: #00d4f4;
  }
  100% {
    background-color: #00d4f4;
  }
}
.seenNotAsssigned{
    background-color:#d2effb;
    color: #000;
}
.seenNotAsssigned.urgent{
	background-color:#f13e3e;
    color: #000;
  transition: background-color 1s linear;
  -webkit-transition: background-color 1s linear;
  -o-transition: background-color 1s linear;
  -moz-transition: background-color 1s linear;
  -ms-transition: background-color 1s linear;
  animation: seenNotAsssigned 1s infinite;
}
@keyframes seenNotAsssigned {
  0% {
    background-color: #f13e3e;
  }
    30% {
    background-color: #f13e3e;
  }
  60% {
    background-color: #d2effb;
  }
  100% {
    background-color: #d2effb;
  }
}
.assigned{
    background-color:#ffda45;
    color: #000;
}
.assigned.urgent{
	background-color:#f13e3e;
    color: #000;
  transition: background-color 1s linear;
  -webkit-transition: background-color 1s linear;
  -o-transition: background-color 1s linear;
  -moz-transition: background-color 1s linear;
  -ms-transition: background-color 1s linear;
  animation: assigned 1s infinite;
}
@keyframes assigned {
  0% {
    background-color: #f13e3e;
  }
    30% {
    background-color: #f13e3e;
  }
  60% {
    background-color: #ffda45;
  }
  100% {
    background-color: #ffda45;
  }
}
.due{
    background-color:#000000;
    color: #fff;
    text-shadow: rgba(0,0,0,0.8) 1px 1px 1px;
}
.due.urgent{
	background-color:#f13e3e;
    color: #fff;
  transition: background-color 1s linear;
  -webkit-transition: background-color 1s linear;
  -o-transition: background-color 1s linear;
  -moz-transition: background-color 1s linear;
  -ms-transition: background-color 1s linear;
  animation: due 1s infinite;
}
@keyframes due {
  0% {
    background-color: #f13e3e;
  }
    30% {
    background-color: #f13e3e;
  }
  60% {
    background-color: #000000;
  }
  100% {
    background-color: #000000;
  }
}
/*.gotovozaodobrenie{
    background-color:#84cc06;
    color: #000;
}*/
.approved{
    background-color:#007f33;
    color: #fff;
    text-shadow: rgba(0,0,0,0.8) 1px 1px 1px;
}
.approved.urgent{
	background-color:#f13e3e;
    color: #fff;
  transition: background-color 1s linear;
  -webkit-transition: background-color 1s linear;
  -o-transition: background-color 1s linear;
  -moz-transition: background-color 1s linear;
  -ms-transition: background-color 1s linear;
  animation: approved 1s infinite;
}
@keyframes approved {
  0% {
    background-color: #f13e3e;
  }
    30% {
    background-color: #f13e3e;
  }
  60% {
    background-color: #007f33;
  }
  100% {
    background-color: #007f33;
  }
}
.delayed{
    background-color:#ff9600;
    color: #000;
}
.delayed.urgent{
	background-color:#f13e3e;
    color: #000;
  transition: background-color 1s linear;
  -webkit-transition: background-color 1s linear;
  -o-transition: background-color 1s linear;
  -moz-transition: background-color 1s linear;
  -ms-transition: background-color 1s linear;
  animation: delayed 1s infinite;
}
@keyframes delayed {
  0% {
    background-color: #f13e3e;
  }
    30% {
    background-color: #f13e3e;
  }
  60% {
    background-color: #ff9600;
  }
  100% {
    background-color: #ff9600;
  }
}
.rejected{
    background-color:#680b00;
    color: #fff;
    text-shadow: rgba(0,0,0,0.8) 1px 1px 1px;
}
.rejected.urgent{
	background-color:#f13e3e;
    color: #fff;
  transition: background-color 1s linear;
  -webkit-transition: background-color 1s linear;
  -o-transition: background-color 1s linear;
  -moz-transition: background-color 1s linear;
  -ms-transition: background-color 1s linear;
  animation: rejected 1s infinite;
}
@keyframes rejected {
  0% {
    background-color: #f13e3e;
  }
    30% {
    background-color: #f13e3e;
  }
  60% {
    background-color: #680b00;
  }
  100% {
    background-color: #680b00;
  }
}
.onHold{
    background-color:#fc9e18 ;
    color: #000;
}
.onHold.urgent{
	background-color:#f13e3e;
    color: #000;
  transition: background-color 1s linear;
  -webkit-transition: background-color 1s linear;
  -o-transition: background-color 1s linear;
  -moz-transition: background-color 1s linear;
  -ms-transition: background-color 1s linear;
  animation: onHold 1s infinite;
}
@keyframes onHold {
  0% {
    background-color: #f13e3e;
  }
    30% {
    background-color: #f13e3e;
  }
  60% {
    background-color: #fc9e18 ;
  }
  100% {
    background-color: #fc9e18 ;
  }
}
.archive{
	background-color:#909a60;
	color:#fff;
}
.working{
    background-color:#a3df00  ;
    color: #000;
}
.working.urgent{
	background-color:#f13e3e;
    color: #000;
  transition: background-color 1s linear;
  -webkit-transition: background-color 1s linear;
  -o-transition: background-color 1s linear;
  -moz-transition: background-color 1s linear;
  -ms-transition: background-color 1s linear;
  animation: working 1s infinite;
}
@keyframes working {
  0% {
    background-color: #f13e3e;
  }
    30% {
    background-color: #f13e3e;
  }
  60% {
    background-color: #a3df00 ;
  }
  100% {
    background-color: #a3df00  ;
  }
}
.archive{
	background-color:#909a60;
	color:#fff;
}
.forApproval{
    background-color:#84cc06   ;
    color: #000;
}
.forApproval.urgent{
	background-color:#f13e3e;
    color: #000;
  transition: background-color 1s linear;
  -webkit-transition: background-color 1s linear;
  -o-transition: background-color 1s linear;
  -moz-transition: background-color 1s linear;
  -ms-transition: background-color 1s linear;
  animation: forApproval 1s infinite;
}
@keyframes forApproval {
  0% {
    background-color: #f13e3e;
  }
    30% {
    background-color: #f13e3e;
  }
  60% {
    background-color: #84cc06  ;
  }
  100% {
    background-color: #84cc06   ;
  }
}
.razpredelenopodizpulnitel{
    background: -webkit-linear-gradient(left, #007f33 , #ffda45);
    background: -o-linear-gradient(right, #007f33, #ffda45);
    background: -moz-linear-gradient(right, #007f33, #ffda45);
    background: linear-gradient(to right, #007f33 , #ffda45);
}
.new_query_button{
    font-size:25px;
}
.show_edit_buttons li{
	text-align: center;
    padding: 10px;
    height: 50%;
}
.show_edit_buttons li:hover{
	background-color:#d2c4f0;
}
.show_edit_buttons li a{
    text-decoration: none;
    color: #000;
    text-shadow: rgba(0,0,0,0) 1px 1px 1px;
	font-weight: 600;
}

.content{
    width:70%;
    margin-right: auto;
    margin-left: auto;
}
.show_query, #appbundle_zadanie{
    width:100%;
}
.show_query th{
    background-color:#9ba2b6;
    text-shadow: rgba(0,0,0,0.8) 1px 1px 1px;
	width:20%;
}
.show_query td{
    background-color:#d9dff2;
    color:#252525;
	font-weight:600;
}
.query_buttons{
    padding-top: 15px;
    height:50px;
}
.query_buttons a{
    background-color: #18bc9c;
    border-bottom: 2px solid #3a9b88;
    border-radius: 0;
    color: #e5e5e5;
    padding: 10px 10px 10px 40px;
    text-align: center;
	width:100%;
}

input#button_delete, #reject{
    background-color: #ee5454;
    border-bottom: 2px solid #ff1212;
    border-radius: 0;
    color: #f4f4f4;
    padding: 10px 10px 10px 40px;
    text-align: center;
    width: 100%;
	opacity:0.8;
}
input#archive{
    background-color: #91c939;
    border-bottom: 2px solid #76a728;
    border-radius: 0;
    color: #f4f4f4;
    padding: 10px 10px 10px 40px;
    text-align: center;
	width: 100%;
	opacity:0.8;
}
#button_edit, #button_create{
    background-color: #9caee7;
    border-bottom: 2px solid #8195d3;
	border-top:0;
	border-left:0;
	border-right:0;
    border-radius: 0;
    color: #f4f4f4;
    padding: 10px 10px 10px 40px;
    text-align: center;
	width: 100%;
	cursor:pointer;
	opacity:0.8;
}
#button_details{
    background-color: #bd5cf5;
    border-bottom: 2px solid #9d39d7;
	border-top:0;
	border-left:0;
	border-right:0;
    border-radius: 0;
    color: #f4f4f4;
    padding: 10px 10px 10px 40px;
    text-align: center;
	width: 100%;
	cursor:pointer;
	opacity:0.8;
}
#approve{
    background-color: #18bc9c;
    border-bottom: 2px solid #3a9b88;
    border-radius: 0;
    color: #f4f4f4;
    padding: 10px 10px 10px 40px;
    text-align: center;
	width: 100%;
	cursor:pointer;
	opacity:0.8;
}
#forApproval, #working{
	background-color: #84cc06 ;
    border-bottom: 2px solid #72a21e;
    border-radius: 0;
    color: #f4f4f4;
    padding: 10px 10px 10px 40px;
    text-align: center;
	width: 100%;
	cursor:pointer;
	opacity:0.8;
}
#appbundle_comments_Comment{
    background-color: #9ba2b6;
    border-bottom: 2px solid #727c98;
    border-radius: 0;
    color: #f4f4f4;
    padding: 10px 10px 10px 10px;
    text-align: center;
	opacity:0.8;
}
#hold{
    background-color: #fba02a;
    border-bottom: 2px solid #f86f0b;
    border-radius: 0;
    color: #f4f4f4;
    padding: 10px 10px 10px 40px;
    text-align: center;
    width: 100%;
	opacity:0.8;
}
input#button_delete:hover, #reject:hover, input#archive:hover, #button_edit:hover, #button_create:hover,#approve:hover, #appbundle_comments_Comment:hover, #hold:hover, #forApproval:hover, #button_details:hover{
    color: #fff;
	opacity:1;
	}
#appbundle_zadanie label{
    width:25%;
}
#appbundle_zadanie input, #appbundle_zadanie #appbundle_zadanie_term{
	display: inline-block;
    width:70%;
}

#appbundle_zadanie_ergent{
    width: 30px;
    height: 30px;
}
#comments{
	background-color:#9ba2b6;
    margin: 10px 0px 50px 0px;
}

.text-field{
    margin: 10px 0px 10px 0px;
    background-color: #fff;
	padding: 5px;
}
.login_register{
    width: 500px;
    margin-right: auto;
    margin-left: auto;
	margin-top: 10%;
    background-color: #fff;
    padding: 20px;
}
.login_register label{
     width:25%;
}

select{
	background-color: #e8eaf2;
    border-radius: 3px;
}


 .delete_icon a, .approve_icon a, .reject_icon a, .archive_icon a, .back_icon a, .edit_icon a, .comment_icon a, .save_new_query_icon a, .login_icon a, .hold_icon a, .forApproval_icon a, .details_icon a, .working_icon a{
    line-height: 2.5;
    -webkit-transition: .3s ease;
    transition: .3s ease; 		
}
.delete_icon:before {
    content: "\f014";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #ebebeb;
    font-size: 20px;
    position: absolute;
    top: 10px;
    left: 28px;
}	
.approve_icon:before {
    content: "\f00c";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #ebebeb;
    font-size: 20px;
    position: absolute;
    top: 10px;
    left: 28px;
}		
.reject_icon:before {
    content: "\f00d";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #ebebeb;
    font-size: 20px;
    position: absolute;
    top: 10px;
    left: 28px;
}	
.archive_icon:before {
    content: "\f07c";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #ebebeb;
    font-size: 20px;
    position: absolute;
    top: 10px;
    left: 28px;
}
.back_icon:before {
    content: "\f060";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #ebebeb;
    font-size: 20px;
    position: absolute;
    top: 10px;
    left: 28px;
}	
.edit_icon:before {
    content: "\f0ad";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #ebebeb;
    font-size: 20px;
    position: absolute;
    top: 10px;
    left: 28px;
}
.comment_icon:before {
    content: "\f0ad";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #ebebeb;
    font-size: 20px;
    position: absolute;
    top: 10px;
    left: 28px;
}	
.save_new_query_icon:before {
    content: "\f0c7";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #ebebeb;
    font-size: 20px;
    position: absolute;
    top: 10px;
    left: 28px;
}	
.login_icon:before {
    content: "\f13e";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #ebebeb;
    font-size: 20px;
    position: relative;
    top: -31px;
    left: 20px;
}
.hold_icon:before {
    content: "\f04c";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #ebebeb;
    font-size: 20px;
    position: absolute;
    top: 10px;
    left: 28px;
}		
.forApproval_icon:before{
	content: "\f045";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #ebebeb;
    font-size: 20px;
    position: absolute;
    top: 10px;
    left: 28px;
}
.details_icon:before{
	content: "\f05a";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #ebebeb;
    font-size: 20px;
    position: absolute;
    top: 10px;
    left: 28px;
}
.working_icon:before{
	content: "\f04b";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #ebebeb;
    font-size: 20px;
    position: absolute;
    top: 10px;
    left: 28px;
}
.success p{
	width:100%;
    text-align: center;
	color:#3f9b39;
}
.error p{
	width:100%;
    text-align: center;
	color:#fa0f0f;
}
.Boss{
	background:#d56868;
}
.LittleBoss.vali{
	background:#a3df00;	
}
.LittleBoss.deleva{
	background:#00dfa3;
}
.Manager{
	background:#7b74ff;
}
.Designer{
	background:#ffea00;
}
.Executioner{
	background:#069147;
}
.morecontent span {
    display: none;
}
.username, .username:hover{
	background: none;
    color: #fff;
    border: none;
}
.more{
	width: 28%;
    /* white-space: pre; */
    white-space: pre-wrap;
    white-space: pre-line;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -hp-pre-wrap;
    /* word-wrap: break-word; */
    /* word-wrap: break-word; */
    word-break: break-all;
    table-layout: fixed;
}
.type{
	width: 11%;
    /* white-space: pre; */
    white-space: pre-wrap;
    white-space: pre-line;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -hp-pre-wrap;
    /* word-wrap: break-word; */
    /* word-wrap: break-word; */
    word-break: break-all;
    table-layout: fixed;
}
.date{
   width:6%;
}
.department{
	width:6%;
}
.user{
   width:8%;	
}
.status{
  width:8%;	
}