{% extends 'base.html.twig' %}

{% block body %}
    <h1>Нова заявка</h1>
    <div class="content">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="row">
            <div class="col-md-2">
                <input id="approve" type="submit" value="Запази" /><div class="save_new_query_icon"></div>
            </div>
        </div>
        {{ form_end(form) }}
        <div class="row">
            <div class="col-md-4">
                <input id="button_edit" value="Обратно към заявките" onclick="location.href='{{ path('project_index') }}'"><div class="back_icon"></div>
            </div>
        </div>
    </div>
{% endblock %}
