<form action="{{ path('fileDelete', { 'id':projectID }) }}" method="post">
    <input name="file_delete" value="{{ fileID }}" class="inputNotVisible">
    <input type="submit" id="file_delete" name="file_delete" class="file_delete" value="Изтрий">
</form>