<form action="{{ path('project_fast_update', { 'id':projectID }) }}" method="post">
    <input name="rejectFile" value="{{ fileID }}" class="inputNotVisible">
    <input type="submit" id="rejectFileButton" name="rejectFileButton" class="rejectFileButton" value="Изтрий">
</form>